/*!
 * Pindish - Main CSS Template.
 */

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.row {
    text-align: center;
}

h3.popup-header {
    margin-bottom: 20px;
}

.row.margin {
    margin: 0;
}


/* remake height of well */

.well {
    height: 100%;
}

.filter-element {
    width: 100%;
    margin-bottom: 10px;
}

.btn-color {
    background: #DADFE1;
    color: #000;
    box-shadow: 0 6px #6C7A89;
}


/* Top Navigation */

.top-nav-pindish>li>a {
    color: #fff;
}

.top-nav-pindish>li>a:hover, .top-nav>li>a:focus, .top-nav-pindish>.open>a, .top-nav-pindish>.open>a:hover, .top-nav-pindish>.open>a:focus {
    background-color: rgb(120, 28, 22);
}


/* Footer */

.footer-pindish {
    border: none;
}

.footer-links {
    padding: 0 15px;
}

.footer-links>li {
    display: inline-block;
}

.footer-links>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #fff;
}

.footer-links>li>a:hover, .footer-links>li>a:focus, .footer-links>.open>a, .footer-links>.open>a:hover, .footer-links>.open>a:focus {
    background-color: rgb(120, 28, 22);
}

.footer-link {
    font-size: 20px;
}


/* Custom Colored Panels */

.container-main {
    background-color: rgb(236, 236, 236);
    height: auto;
    position: relative;
}


/* Recipe cards */

.recipe-card {
    display: inline-block;
    position: relative;
    padding: 0;
    overflow: hidden;
    border-radius: 2px;
    margin-bottom: 20px;
    background-color: #fff;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.recipe-card:hover, .recipe-card:focus {
    -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.recipe-card img {
    width: 100% padding: 0;
    position: relative;
    width: 100%;
    text-align: center;
    background-size: 100% 100%;
}

.recipe-card h3 {
    padding: 5px;
    margin: 5px;
    border-bottom: 1px solid rgb(236, 236, 236);
}

.recipe-card p {
    position: relative;
    padding: 5px;
    margin: 5px;
}

.add-recipe-card {
    width: 100%;
    height: 300px;
    display: none;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    border-radius: 2px;
    border: 2px dashed rgba(150, 40, 27, .5);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    align-items: center;
}

.add-recipe-card:hover {
    border: 2px dashed rgb(150, 40, 27);
}

.add-recipe-card>p {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: rgba(150, 40, 27, .5);
    font-size: 50px
}

.add-recipe-card:hover>p {
    color: rgb(150, 40, 27);
}

@media (min-width: 1200px) {
    .add-recipe-card {
        display: inline-block;
    }
}

.col-add-recipe-card {
    float: none;
    display: inline-block;
    text-align: center;
}


/* Recipe popup */

.recipe-popup {
    padding: 15px !important;
}

.recipe-popup * {
    padding: 0;
    margin: 0 auto;
}

.recipe-popup .main-row {
    margin-bottom: 15px !important;
}

.recipe-popup h3 {
    padding: 0;
    margin: 0 auto;
    font-size: 35px;
    padding: 50px 0 50px 0;
}

.recipe-popup ul.recipe-popup-nav {
    font-size: 20px;
    padding: 35px 0 35px 0;
    color: rgb(150, 40, 27);
}

.recipe-popup ul.recipe-popup-nav li {
    display: inline-block;
    font-size: 25px;
    padding: 0 30px 0 30px;
}

.recipe-popup div.image {
    height: 250px;
    overflow: hidden;
}

.recipe-popup img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
}

.recipe-popup ul.recipe-ingredients {
    padding: 5px;
    width: 100%;
    margin: 0 auto;
    list-style: none;
}

.recipe-popup ul.recipe-ingredients li {
    padding: 0 10px 0 10px;
    display: inline-block;
    margin: 3px 0 3px 0;
    text-align: left !important;
}

.recipe-popup ul.recipe-ingredients li i {
    color: rgb(150, 40, 27);
}

.recipe-popup p {
    text-align: left !important;
    padding-top: 5px;
}

.recipe-popup ul.recipe-ingredients, .recipe-popup p, .recipe-popup div.image {
    margin-top: 20px;
}

@media (min-width: 1200px) {
    .recipe-popup ul.recipe-ingredients li {
        display: list-item;
        padding: 5px;
    }
    .recipe-popup ul.recipe-ingredients, .recipe-popup p, .recipe-popup div.image {
        margin-top: 0;
    }
}


/* Navbars */

.navbar-pindish {
    background-color: rgb(150, 40, 27);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    border: none;
}

.navbar-pindish-toggle {
    border: none;
}

.navbar-pindish-toggle:hover, .navbar-toggle:focus {
    background-color: rgb(120, 28, 22);
}

.navbar-pindish-brand {
    margin: auto;
    font-size: 35px;
    color: #fff !important;
}

.nav-pindish-link, .footer-link {
    user-select: none !important;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

@media (min-width: 1200px) {
    .nav-pindish-add-recipe-link {
        display: none !important;
    }
}

@media (max-width: 1200px) {
    .nav-pindish-add-recipe-link {
        display: inline-block !important;
    }
}


/* Recipe bar */

#recipes-bar {
    position: fixed;
    right: 0;
    z-index: 1030;
    font-size: 15px;
    height: 35px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    display: none;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

#recipes-bar {
    width: 300px;
}

#recipes-bar>ul {
    display: inline;
}

#recipes-bar>ul>li {
    display: inline-block;
}

#recipes-bar>ul>li>input {
    border: none;
    background: none;
}

#recipes-bar>ul>li>input[type="text"] {
    color: rgb(150, 40, 27);
}

#recipes-bar>ul>li>input[type="text"]:focus {
    outline: none;
    color: rgb(150, 40, 27);
}

#recipes-bar>ul>li>::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: rgba(150, 40, 27, .35);
}

#recipes-bar>ul>li>a {
    display: block;
    line-height: 20px;
    padding: 7px 15px;
    color: rgb(150, 40, 27);
}

#recipes-bar>ul>li>a:hover, #recipes-bar>ul>li>a:focus {
    background-color: rgb(236, 236, 236);
}

.search-recipe {
    padding-right: 5px;
    padding-left: 0;
    color: rgb(150, 40, 27);
}

.dropdown-menu-pindish {
    position: fixed;
    z-index: 1031;
}


/* Buttons */

.btn-full {
    width: 100%;
}

.btn-half {
    width: 50%;
}

.btn-pindish {
    border-radius: 2px;
}

.btn-pindish-primary {
    color: #fff;
    background-color: rgb(150, 40, 27);
}

.btn-pindish-facebook {
    color: #fff;
    background-color: #3b5998;
}

.btn-pindish-facebook:hover {
    background-color: #2b4170;
}

.btn-pindish-google-plus {
    color: #fff;
    background-color: #e64522;
}

.btn-pindish-google-plus:hover {
    background-color: #c33219;
}

.btn-pindish-twitter {
    color: #fff;
    background-color: #00aced;
}

.btn-pindish-twitter:hover {
    background-color: #0081ce;
}

.btn-pindish:hover {
    color: #fff;
}

.btn-pindish-primary:hover {
    background-color: rgb(120, 28, 22);
}


/* Sign in/up popups */

.sign-in-up-alt {
    display: none;
}

.sign-in-up-alt p {
    text-align: center;
    color: rgb(200, 200, 200);
    margin: 15px 0 15px 0;
}

.sign-in-up-alt p span {
    line-height: 0.25em;
    display: inline-block;
    position: relative;
}

.sign-in-up-alt p span:before, .sign-in-up-alt p span:after {
    content: "";
    position: absolute;
    height: 5px;
    border-top: 1px solid rgb(200, 200, 200);
    top: 0;
    width: 180px;
}

.sign-in-up-alt p span:before {
    right: 100%;
    margin-right: 15px;
}

.sign-in-up-alt p span:after {
    left: 100%;
    margin-left: 15px;
}

.sign-in-up-alt ul {
    text-align: center;
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
}

.sign-in-up-alt ul li {
    text-align: center;
    margin: 0 auto;
    padding: 1px 0 1px 0;
    font-size: 35px;
}

div.remember-me {
    clear: none;
    display: inline-block;
}

a.forgot-password {
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

div.sign-in-up-alt-btn {
    text-align: center;
    width: 15%;
    padding: 0;
    display: inline-block;
}
